/* Estilo para el formulario de contacto */
footer .form-control {
  padding: 10px;
  border-radius: 25px;
  border: none;
  background-color: #f8f9fa;
  margin-bottom: 15px;
}

footer textarea.form-control {
  resize: none;
  background-color: #f8f9fa;
}

footer .btn-warning {
  background-color: #f39c12;
  border: none;
}

footer .btn-warning:hover {
  background-color: #e67e22;
}

/* Estilo para el encabezado y descripción del formulario */
footer h5 {
  font-size: 1.5rem;
}

footer p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}
