<div class="row mt-4">
  <div class="col text-center">
    <h5>Formulario de contacto</h5>
    <p>
      Si tienes alguna pregunta o consulta, no dudes en enviarnos un mensaje.
      ¡Nos encantaría saber de ti!
    </p>

    <!-- Formulario -->
    <form action="#" method="POST" class="mt-4">
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control mb-3"
            placeholder="Tu nombre"
            required
          />
        </div>
        <div class="col-md-6">
          <input
            type="email"
            class="form-control mb-3"
            placeholder="Tu correo electrónico"
            required
          />
        </div>
      </div>
      <div class="mb-3">
        <textarea
          class="form-control"
          rows="4"
          placeholder="Tu mensaje"
          required
        ></textarea>
      </div>
      <button type="submit" class="btn btn-warning">Enviar mensaje</button>
    </form>
  </div>
</div>
